<html>
  <head>
  </head>

  <body style=" background-color: #f0f0f0; text-align: center; padding: 20px;">
    <h1 style="text-align: center; font-weight: bold;">WEBSCRAPING </h1>
    <form method="post">
        {% csrf_token %}
        <label for="url" style="font-weight: bold;">Enter URL:</label>
        <input type="url" id="url" name="url" style="margin-bottom: 10px;" ><br>
        <input type="submit" value="Submit" style="background-color: #007bff; color: #fff; border: 1px solid #007bff; padding: 5px 10px; cursor: pointer;">
      </form>
  </body>
</html>  



    
